.web-socket-connect-button-active {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    border: 4px solid black;
    border-radius: 30px;
    user-select: none;
}

.web-socket-connect-button-inactive {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    transition: 0.3s;
    background-color: rgb(151, 187, 231);
    border: 4px solid rgb(51, 161, 198);
    border-radius: 30px;
    user-select: none;
}

.web-socket-connect-button-active:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
}