.control-range-slider-container {

}

.range-input-container{
    display: flex;
    align-items: center;
}

.input-container {
    flex: auto;
    padding: 10px;
}

.input-container input{
    width: 100%;
}