.model-rating-block {
    --rating-width: 100px;
    width: var(--rating-width);
    border: 1px solid #3a40e1;
    background: #3a40e1;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    position: absolute;
    top: 0;
    right: calc(var(--rating-width) * (-1));
}

.model-rating-block .rating-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}