:root {
    --default-transition-time: .35s;
    --main-font-color: #353535;
    --accent-color: #3a40e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}