.board-settings-block {
    margin-bottom: 50px;
}

.board-settings-block .header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.board-settings-block .header h3 {
    margin: 0;
}