.web-socket-model-interact {
    background-color: #FFFFFF;
    padding: 50px;
    border: 1px solid black;
    border-radius: 20px;
}

.url-input-name.inactive {
    display: none;
}

.url-input-name.active {
    position: relative;
    z-index: 2;
    display: flex;
    color: #443DF6;
    font-size: 12px;
    line-height: 16px;
}

/* button.common {
    border-radius: 8px;
    background-color: #443DF6;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    padding: 10px 20px;
    border: none;
    user-select: none;
}

button.common:hover {
    background-color: #6c67f8;
    cursor: pointer;
}

button.common.inactive {
    background-color: #8c8ade;
    pointer-events: none;
} */