.main-info-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.main-info-container .model-info{
    width: 400px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}