.main-info-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.main-info-container .model-info{
    width: 400px;
    padding: 15px;
    border: 1px solid #3a40e1;
    position: relative;
    margin-right: 80px;
    border-radius: 10px 0 10px 10px;
}