.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    z-index: 3;
}

.model-working-commands {
    margin-bottom: 30px;
}