.control-toggle-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-toggle-slider-container .title {
    font-size: 20px;
}

.control-toggle-slider-container .toggle-slider {
    transform: scale(3);
}