:root {
    --aside-width: 500px;
    --main-padding: 40px;
    --aside-padding: 40px;
    --aside-minified-width: calc(var(--aside-padding) - var(--aside-width));
}

.default-layout {
    width: 100%;
    height: 100%;
}

.default-layout aside {
    height: 100%;
    width: var(--aside-width);
    transition: var(--default-transition-time) all;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transform: translateX(var(--aside-minified-width));
    border-right: 1px solid var(--main-font-color);
    display: flex;
    flex-direction: column;
}

.default-layout aside.in-focus {
    transform: translateX(0);
}

.default-layout aside .aside-content-container {
    flex: auto;
    padding: var(--aside-padding);
    padding-top: 0;
}

.default-layout main .main-content-container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.default-layout main {
    transition: var(--default-transition-time) all;
    width: 100%;
    height: 100%;
    padding: var(--main-padding);
}

.default-layout main.out-of-focus {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}